@model NewspaperDoAnV2.Models.Danh_muc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminlayout.cshtml";
}

<h2>Thông Tin Danh Mục</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nội Dung Danh Mục
        </dt>

        <dd>
            <p class="bg-primary text-light w-25 p-3 mt-3" style="border-radius : 20px;">
                @Html.DisplayFor(model => model.danhmuc_noidung)
            </p>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh Sửa Danh Mục", "Edit" , "Danh_muc" , new { id = Model.danhmuc_id } , new {@class  = "btn btn-primary" }) |
    @Html.ActionLink("Quay Trở Về Danh Sách Danh Mục", "Index" , "Danh_muc", new {@class = "btn btn-success"})
</p>
