@model IEnumerable<NewspaperDoAnV2.Models.Newspaper_ChuyenMuc>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AdminArea/Views/Shared/_adminlayout.cshtml";
    int batdongsancount = 0;
    int chinhtricount = 0;
    int congnghecount = 0;
    int thethaocount = 0;
}

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
    </script>
</head>

<style>
    .Newspaper_info, .Danh_muc {
        height: 100%;
        border-radius: 20px;
    }

    .Newspaper_SoLuong, .Danh_muc_SoLuong {
        height: 100px;
        width: 300px;
    }
</style>

@foreach (var list in Model)
{
    foreach (var newspaper in list.newspaperList)
    {
        if (Session["username"].ToString().Equals(newspaper.User.UserName))
        {
            if (newspaper.Danh_muc.danhmuc_noidung == "Bất Động Sản")
            {
                batdongsancount++;
            }
            if (newspaper.Danh_muc.danhmuc_noidung == "Chính Trị")
            {
                chinhtricount++;
            }
            if (newspaper.Danh_muc.danhmuc_noidung == "Công Nghệ")
            {
                congnghecount++;
            }
            if (newspaper.Danh_muc.danhmuc_noidung == "Thể Thao")
            {
                thethaocount++;
            }
        }
    }
}



<div class="container mt-4 mb-4">
    <canvas id="myChart" style="width:100%"></canvas>
</div>

<script>
    const xValues = ["Bất Động Sản" , "Chính Trị" , "Công Nghệ" , "Thể Thao"];

    new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
                label: "Số Lượng",
                data: [
                    @batdongsancount ,
                    @chinhtricount ,
                    @congnghecount ,
                    @thethaocount
                ],
                backgroundColor: 
                    "#FFC4A4",
                
            }],
        },
        options: {
            scales: {
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true, 
                        steps: 10,
                        stepValue: 5,
                    }
                }]
            }, 
            title: {
                display: true,
                text : "Số Lượng Bài Báo Mà Bạn Đã Viết"
            }
        }
    });
</script>

